<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- common css definition -->
<link rel="stylesheet" type="text/css" href="/static/CSS/common/common.css"/>
<link rel="stylesheet" type="text/css" href="D:/python_workshop/Auth_User_Model/static/CSS/common/bootstrap.min.css"/>
<!-- load -->
 <link rel="stylesheet" type="text/css" href="D:/python_workshop/Auth_User_Model/static/CSS/common/load.css">
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    
</body>

<!-- common scripts definition -->
<script type="text/javascript" src="D:/python_workshop/Auth_User_Model/static/JS/common/jquery.min.js"></script>
<script type="text/javascript" src="D:/python_workshop/Auth_User_Model/static/JS/common/bootstrap.min.js"></script>
<!--Loader JS-->
<script type="text/javascript" src="D:/python_workshop/Auth_User_Model/static/JS/common/load.js"></script>

</html>