{% extends 'main/base.html' %}

{% block page_title %}
    <h1>照片分类<small>风景</small></h1>
{% endblock page_title %}

{% block main_content %}
    <div style="width: 800px;margin: 0 auto;display: flex;justify-content: space-around;">
        {% for picname in listPicname %}
            <div style="text-align: center">
                <img src={{ picname }} width="128px" height="128px" >
                <div style="font-size: large">{{ picname }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock main_content %}