{% extends 'main/base.html' %}

{% block page_title %}
    <h1>照片分类<small>超哥nb</small></h1>
{% endblock page_title %}

{% block page_css_reference %}
    <link rel="stylesheet" href="/static/css/classified.css">
{% endblock page_css_reference %}

{% block page_js_reference %}
    <script src="/static/js/classified.js"></script> 
{% endblock page_js_reference %}

{% block main_content %}
    <div class="btn-functions">
		<input type="text" id="input_new_dir" placeholder="请输入分类名">
		<button class="btn btn-warning" id="create_dir">新建分类</button>
        <button class="btn btn-danger" id="remove_checked">删除选中</button>
        {% csrf_token %}
		<div id="callback-msg"></div>
    </div>

    <div id="classified_content" class="col-md-12">
    {% for classname, images in urls.items %}
        {% if images %}
        <div id="{{ classname }}" class="classified-wrapper">
            <div class="image-container scene">
                {% for image in images %}
                    {% if forloop.counter|divisibleby:2 %}
                            <div class="image-item card__face card__face--back col-md-6">
                                <a href={% url "main:classifiedSpecific" user.id classname %}></a>
                                <img src="{{ image }}" alt="">
                            </div>
                        </div>
                    {% elif forloop.last %} <!-- 是单数, 且循环结束,不足以构成卡面,只构成一张-->
                        <div class="card col-md-6">
                            <div class="image-item card__face card__face--front col-md-6">
                                <a href={% url "main:classifiedSpecific" user.id classname %}></a>
                                <img src="{{ image }}" alt="">
                            </div>
                            <div class="image-item card__face card__face--back col-md-6">
                                <a href={% url "main:classifiedSpecific" user.id classname %}>
                                    <div class="post-card">
                                        <img class="post-background" src="{{ image }}">
                                        <div class="post-card-mask--special">
                                            <div class="post-card-container">
                                                <h2 class="post-card-title" itemprop="headline">{{ classname|capfirst }}</h2>
                                                <div class="post-card-info">
                                                    <span>AutoAlbum v0.1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="card col-md-6">
                            <div class="image-item card__face card__face--front col-md-6">
                                <a href={% url "main:classifiedSpecific" user.id classname %}>
                                    <div class="post-card">
                                        <img class="post-background" src="{{ image }}">
                                        <div class="post-card-mask">
                                            <div class="post-card-container">
                                                <h2 class="post-card-title" itemprop="headline">{{ classname|capfirst }}</h2>
                                                <div class="post-card-info">
                                                    <span>AutoAlbum v0.1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock main_content %}