{% extends 'main/frontBase.html' %}
{% load customFilter %}
{% load static %}

{% block page_title %}
    <h1>{{ typeName }}<small>分类</small></h1>
{% endblock page_title %}


{% block page_css_reference %}
    <link rel="stylesheet" type="text/css" href={% static 'css/zoomify.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'common/bootstrap-select-1.13.18/css/bootstrap-select.css' %} />
	<link rel="stylesheet" type="text/css" href={% static 'css/GalMenu.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'css/WheelMenu.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'css/classifiedSpecific.css' %}>
{% endblock page_css_reference %}

{% block page_js_reference %}
    <script src={% static 'js/zoomify.js' %}></script>
    <script src={% static 'common/bootstrap3.3.7/bootstrap.min.js' %}></script>
    <script src={% static 'common/bootstrap-select-1.13.18/js/bootstrap-select.js' %}></script>
    <script src={% static 'js/classifiedSpecific.js' %}></script>
    <!-- 引入轮盘菜单所需的js组件 -->
    <script src={% static 'js/GalMenu.js' %}></script>
    <script src={% static 'js/WheelMenu.js' %}></script>
    <script type="text/javascript">
    //注册菜单
    $(document).ready(function() {
        $('body').GalMenu({
          'menu': 'GalDropDown'
        })
    });
    $(function() {
	    $('.zoomify').zoomify();
    });
    </script>
{% endblock page_js_reference %}

{% block directory_structure %}
    <div class="smalltitle">
        <a href={% url 'main:homePage' %} >Home</a> > <a href={% url 'main:Classified' user.id %} >Classified</a> > {{ typeName|capfirst }}
    </div>
{% endblock directory_structure %}

{% block main_content %}
<!-- WheelMenu starts -->
<div class="GalMenu GalDropDown">
    <div class="circle" id="gal">
    <div class="ring">
        <a class="menuItem" title="上传图片" id="upload_pic"><i class="iconfont icon-shangchuan"></i></a>
        <a class="menuItem" title="上传文件夹" id="upload_dir"><i class="iconfont icon-shangchuanwenjianjia"></i></a>
        <a class="menuItem" title="新建子分类" id="new_subfolder"  data-toggle="modal" data-target="#newFolderModal"><i class="iconfont icon-tianjiawenjianjia"></i></a>
        <a class="menuItem" title="全选" id="check_all" disabled="disabled"><i class="iconfont icon-quanxuan"></i></a>
        <a class="menuItem" title="保存选中" id="save_checked"><i class="iconfont icon-baocun_mian"></i></a>
        <a class="menuItem" title="删除选中" id="remove_checked"><i class="iconfont icon-shanchu"></i></a>
        <a class="menuItem" title="移动选中" id="move_image"  data-toggle="modal" data-target="#moveImageModal"><i class="iconfont icon-yidongtupian"></i></a>
        <a class="menuItem" title="编辑模式" id="edit_saved"><i class="iconfont icon-bianji"></i></a>
    </div>
        <audio id="audio" src={% static 'audio/sproing.mp3' %}></audio>
    </div>
</div>
<div id="overlay" style="opacity: 1; cursor: pointer;"></div>
<!-- WheelMenu ends -->
<section class="container container-fluid">
    <div class="btn-functions">
		<input type="file" id="input_pic" accept="image/*">
		<input type="file" id="input_dir" webkitdirectory>
        {% csrf_token %}
		<div id="upload-msg"></div>
    </div>
    <!-- 新建分类模态框（Modal） -->
    <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="subfolder-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="subfolder-title">新建子分类</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="input_subfolder" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" id="btn-new-subfolder">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- 移动图片模态框（Modal） -->
    <div class="modal fade" id="moveImageModal" tabindex="-1" role="dialog" aria-labelledby="subfolder-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="subfolder-title">移动文件至</h4>
                </div>
                <div class="modal-body">
                    <!-- 选择移动目的分类 -->
                    <select id="select-mov-dst" class="selectpicker" data-hide-disabled="true" 
                            data-live-search="true" data-live-search-placeholder="搜索分类...">
                    <!-- 选项使用ajax动态加载 -->
                    </select>
                    <!-- #select-move-dst ends -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" id="btn-mov-dstfolder">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- div#moveImageModal -->
    <div id="classified" class="col-md-12 col-xs-12">
        <h1 id="root-classified-type">{{ typeName|capfirst }}</h1>
        <div class="clear"></div>
        <div class="smalltitle">Total <span id="totalnum"></span> pcs  <small><a href={% url 'main:Explore' user.id %} class="jump-to-explore">Just Explore</a></small></div>
        <div class="clear"></div>
        <div class="not-sub-classified">
            <h1 class="classified-title">尚未子分类</h1>
            <div class="clear"></div>
            <div class="image-container">
                {% for image in urls|get_item:typeName %} <!-- 此时拿出来的是大分类下未放入子分类的图片链接 -->
                    <div class="image-item" onclick="checkImage(this)">
                        <img src="{{ image }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
        {% for subTypeName, images in urls.items %}
            {% if subTypeName != typeName %}
            <div id="{{ subTypeName }}" class="sub-classified">
                <h1 class="classified-title">
                    <a class="jump-to-subfolder classified-subType" href={% url 'main:subClassified' user.id typeName subTypeName %}>{{ subTypeName }}</a>
                    {% if typeName == 'person' %}
                        <img src="/media/{{ user.username }}/{{ typeName }}/{{subTypeName}}/standard.jpg"
                             alt="特征" class="zoomify feature">
                    {% endif %}
                </h1>
                <div class="clear"></div>
                <div class="image-container">
                    {% for image in images %}
                        <div class="image-item" onclick="checkImage(this)">
                            <img  src="{{ image }}" alt="" class="zoomify_bak">
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock main_content %}
