{% extends 'main/base.html' %}

{% block page_title %}
    {% for typeName in urls.keys %}
        <h1>{{ typeName }}<small>分类<small></h1>
    {% endfor %}
{% endblock page_title %}

{% block main_content %}
    <div id="classified_content" class="col-md-12 col-xs-12">
    {% for typeName, images in urls.items %}
        {% if images %}
        <div id="{{ typeName }}" class="">
            <h1 class="classified-title">{{ typeName }}</h1>
            <div class="image-container">
                {% for image in images %}
                    <div class="image-item">
						<img src="{{ image }}" alt="">
					</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock main_content %}

{% block page_css_reference %}
    <link rel="stylesheet" href="/static/css/classifiedSpecific.css">
{% endblock page_css_reference %}
