{% extends 'main/frontBase.html' %}
{% load static %}

{% block main_content %}
<div id="menu-container" class="main_menu">
    <!-- homepage Menu start -->
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="col-md-3 col-sm-6 leftgap">
                <div class="mainservice botgap">
                    <div class="link"><a class="show-2 subpage-explore" href="{% url 'main:Explore' user.id %}">探索</a></div>
                </div>
                <div class="menu-img-below"><img src="{% static 'img/homePage/home1.jpg' %}" alt="home img 01"></div>
            </div>
            <div class="col-md-3 col-sm-6 leftgap">
                <div class="menu-img-above botgap portfotopgap"><img src="{% static 'img/homePage/home2.jpg' %}" alt="home img 02"></div>
                <div class="mainportfolio">
                        <div class="link"><a class="show-3 subpage-album" href="{% url 'main:Classified' user.id %}">相册</a></div>                       
                </div>
            </div>
            <div class="col-md-3 col-sm-6 leftgap">
                <div class="maintestimonial botgap topgap">
                    <div class="link"><a class="show-4 subpage-profile" href="{% url 'main:PersonInfo' user.id %}">资料</a></div>
                </div>
                <div class="menu-img-below"><img src="{% static 'img/homePage/home3.jpg' %}" alt="home img 03"></div>
            </div>
            <div class="col-md-3 col-sm-6 leftgap">
                <div class="menu-img-above botgap topgap">
                    <img src="{% static 'img/homePage/home4.jpg' %}" alt="home img 04">
                </div>
                <div class="mainabout botgap">
                    <div class="link"><a class="show-5 subpage-about" href="#">About us</a></div>
                </div>
                <div class="maincontact">
                    <div class="link"><a class="show-6 random_photo_page" href="#">Random</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Ends -->
    <!-- About-us Start -->
    <div class="content about" id="menu-5">
        <div class="container">
            <div class="row bordergapborder">
                <!--vertical Tabs-->
                <div id="about-tabs">
                    <div class="col-md-3 col-sm-12 leftgap_about">
                        <ul class="resp-tabs-list tab">
                            <li>Our Team</li>
                            <li>Our History</li>
                            <li>Our Vision</li>
                        </ul>
                        <div class="aboutlinkwrapper">
                            <div class="link"><a class="show-1 about-backhome" href="#">Go Back</a>
                        </div>
                    </div>
                    </div>
                    <div class="resp-tabs-container aboutcontainer">
                        <div>
                            <div class="col50percent rightgap_about">
                                <div class="graybg botgap">
                                    <div class="frame">
                                        <h2>Our Team</h2>
                                        <p>xhwhust</p>
                                        <p>Cyanus</p>
                                        <p>Penistrong</p>
                                        <p>withoutmelv</p>
                                        <p>[ID]765355066</p>
                                        <p><strong>HUST GAY HUB</strong></p>
                                        <a href="https://github.com/HUST-2020-SE-Internship"><span class="fa fa-github" style="font-size:40px;float:left;"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col50percent leftgap botgap">
                                <img src="{% static 'img/homePage/about-team.jpg' %}" alt="about image">
                            </div>
                        </div>
                        <div>
                            <div class="col50percent rightgap_about">
                                <div class="graybg botgap">
                                    <div class="frame">
                                        <h2>Our History</h2>
                                        <p>HUST Software Engineering<br><br> 
                                         <a rel="nofollow" href="http://sse.hust.edu.cn/" target="_blank">关于学院</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col50percent leftgap botgap">
                                <img src="{% static 'img/homePage/about-history.jpg' %}" alt="history image">
                            </div>
                        </div>
                        <div>
                            <div class="col50percent rightgap_about">
                                <div class="graybg botgap">
                                    <div class="frame">
                                        <h2>Our Vision</h2>
                                        <p><a href="https://zh.moegirl.org.cn/NTR" target="_blank">嘤嘤嘤</a> <br><br>
                                        我们是无情的搬砖铁人 <br><br>
                                        在搬砖的路上一去不复返</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col50percent leftgap botgap">
                                <img src="{% static 'img/homePage/about-vision.jpg' %}" alt="vision image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 botgap aboutlinkwrapper1">
                    <div class="templatemo_aboutback botgap">
                        <div class="link">
                            <a class="show-1 about-backhome" href="#">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About end  -->
    <!-- Contact Start -->
    <div class="content contact" id="menu6">
        {% csrf_token %}
        <div class="container">
            <div class="row bordergapborder">
                <div class="col-md-3 col-sm-12 leftgap">
                    <div class="contact-img botgap">
                        <img src={% static 'img/homePage/contact-img.jpg' %}>
                    </div>
                    <div class="maincontact contact-inner botgap">
                        <div class="linkcontact">
                            <a class="show-1 contact-backhome" href="#">Go Back</a>
                        </div>
                    </div>
                </div>
                <div class="col37percent col-sm-12 leftgap">
                    <div class="graybg contact-container">
                    <!--<img src="{% static 'img/homePage/WeChat.png' %}" alt="vision image">-->
                    </div>
                </div>
                <div class="col37percent col-sm-12 leftgap">
                    <div class="graybg">
                        <img src="{% static 'img/homePage/QQgroup.jpg' %}" alt="vision image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block page_css_reference %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/homePage.css' %}">
{% endblock page_css_reference %}

{% block page_js_reference %}
    <script src="{% static 'js/jquery.lightbox.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/homePage.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        /* 初始化tabs */
        $('#about-tabs').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true,
        });
    </script>
{% endblock page_js_reference %}