{% extends 'main/base.html' %}

{% block page_title %}
    <h1>修改个人信息<small>该页面填模板形成,注意看一下</small></h1>
{% endblock page_title %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">修改信息</div>
                <div class="panel-body">
                    <form class="form-horizontal"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <input hidden id="user_id" value="{{ user.id }}">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static text-muted">{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static text-muted">{{ user.username }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">昵称</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="nickName" type="text" value="{{ user.profile.org }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">电话</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="telephone" type="number" value="{{ user.profile.telephone }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img id="imgshow" class="img-thumbnail"  src={{ user.profile.portrait }}>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">选择图片</label>
                                <div class="col-sm-10">
                                    <input accept="image/*" id="upfile" type="file" onchange="showImg()" name="filepic" class="form-control">
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-info" id="upload" onclick="load()">修改信息</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block page_js_reference %}
    <script src="/static/js/personInfo.js"></script> 
{% endblock page_js_reference %}