{% extends 'main/base.html' %}

{% block page_title %}
    <h1>添加照片<small>哈哈哈哈啊哈</small></h1>
{% endblock page_title %}

{% block main_content %}
    <form>
        <div class="form-group">
            <input id="upfile" style="display: none" name="filepic" onchange=""  type="file" class="form-control" webkitdirectory>
        </div>
        <div class="form-group">
            <input id="upfile2" style="display: none" name="filepic2" onchange="showPic()"  type="file" class="form-control">
        </div>
        <div style="width: 800px;margin: 0 auto;display: flex;justify-content: space-around;">
            <div style="text-align: center">
                <img src="/static/mainstatic/文件夹.png" style="cursor: pointer;"  alt="" name="pic" width="128px" height="128px"  onclick="upLoadPic('upfile')" />
                <div style="font-size: large">Choose FileDirectory</div>
            </div>
            <div style="text-align: center">
                <img src="/static/mainstatic/start up.png" style="cursor: pointer;"  alt="" name="pic" width="128px" height="128px"  onclick="upLoadPicture()" />
                <div style="font-size: large">Link Start</div>
            </div>
            <div style="text-align: center">
                <img src="/static/mainstatic/照片.png" style="cursor: pointer;"  alt="" name="pic" width="128px" height="128px"  onclick="upLoadPic('upfile2')" />
                <div style="font-size: large">Choose File</div>
            </div>
        </div>
    </form>

    <div id="showfiles" style="margin-top: 150px;display: flex;justify-content: space-around;flex-wrap: wrap">
    </div>
{% endblock main_content %}

{% block page_js_reference %}
    <script src="/static/js/profile.js"></script>  
{% endblock page_js_reference %}