.btn-functions #upload-msg {
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
}
.btn-functions .btn {
    margin: 10px;
}

.image-container {
    margin: 10px;
    column-count: 3;
    column-gap: 20px;
}

.image-item {
    margin-bottom: 20px;
}


.image-item img {
    width: 100%;
    height:100%;
}

.classified-title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.image-item .pic-checked {
    width: 40px !important; 
    height: 40px !important;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute !important;
}

.image-item .pic-unchecked {
    width: 40px !important; 
    height: 40px !important;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute !important;
}

#input_dir, #input_pic {
    display:none;
}

#input_subfolder {
    border: none;
    background-color: transparent;
}

h1 small{
    margin-left: 20px;
    font-size: 80%;
}