.image-container {
    margin: 10px;
    column-count: 3;
    column-gap: 20px;
}

.image-item {
    margin-bottom: 20px;
}

.image-item img {
    width: 100%;
    height:100%;
}

.classified-title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}