@keyframes action_scale{
	0%{transform: translateY(50px);opacity: 0;}
	100%{ transform: translateY(0px);opacity: 1;}
}


@keyframes action_scaleOut{
	0%{transform: scale(1);opacity: 1;}
	100%{ transform: scale(0.2);opacity: 0;}
}