<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_2056148_bwt3vnpoif.css"> -->
    <link rel="stylesheet" href="/static/CSS/users/gate.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css">
    <script src="/static/JS/jquery-3.2.1.js"></script>
    <title>自动相册</title>
</head>
<body>
    <h2>自动相册</h2>
    {% if is_in_register %}
    <div class="container right-panel-active" id="container">
    {% else %}
    <div class="container" id="container">
    {% endif %}
        <div class="form-container sign-up-container">
            <form method="post" action="/users/register/" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <h1>创建账户</h1>
                <div class="social-container">
                    <a href="https://im.qq.com/" class="social" target="_blank"><i class="iconfont icon-qq"></i></a>
                    <a href="https://weixin.qq.com/" class="social" target="_blank"><i class="iconfont icon-weixin"></i></a>
                    <a href="https://www.alipay.com/" class="social" target="_blank"><i class="iconfont icon-zhifubao"></i></a>
                </div>
                <!-- 不用django自带的表单渲染 太丑了 手动来控制 -->
                <!-- 
                    {{ register_form.username.label_tag }}
                    {{ register_form.username }}
                -->
                <div class="form-group">
                {% for field in register_form %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}" class="control-label col-md-3" style="padding-left:0px !important;padding-right:0px !important;"> {{ field.label }}</label>
                        <div class="col-md-9">
                            {{ field }}
                            {% if field.errors.0 is not null %}
                            <span class="text-danger pull-right">{{ field.errors.0 }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <button>注册</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="post" action="/users/login/" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <h1>登录</h1>
                <div class="social-container">
                    <a href="https://im.qq.com/" class="social" target="_blank"><i class="iconfont icon-qq"></i></a>
                    <a href="https://weixin.qq.com/" class="social" target="_blank"><i class="iconfont icon-weixin"></i></a>
                    <a href="https://www.alipay.com/" class="social" target="_blank"><i class="iconfont icon-zhifubao"></i></a>
                </div>
                
                <div class="form-group">
                    {% for field in login_form %}
                        <div class="form-group">
                            <label for="id_{{ field.name }}" class="control-label"> {{ field.label }}</label>
                            {% if field.name == "username" %}
                            {% else %}
                            {% endif%}
                            {{ field }}
                            {% if field.errors.0 is not null %}
                                <span class="text-danger pull-right">{{ field.errors.0 }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <a href="#">忘记密码?</a>
                <button type="submit" value="Login">登录</button>
            </form>
        </div>
        <div class="overlay-container" >
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>让每个人都能享受科技的乐趣</h1>
                    <p>登录账户，开启相册分类之旅</p>
                    <button class="ghost" id="signIn">登录</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>永远相信美好的事情即将发生</h1>
                    <p>注册账户，加入我们</p>
                    <button class="ghost" id="signUp" href="/users/register">注册</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>
</html>